<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/img/Logos/LogoCapivara.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/TelaLayout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Gerencia Zoo</title>
    @RenderSection("Styles", required: false)
</head>
<body>
    <main>
        <nav class="Sidebar">
        
            <section class="Topo">
                <img src="~/img/Logos/LogoCapivara.png" alt="Logo GerenciaZoo" class="imagem">
                <img src="~/img/Logos/LogoNome.png" alt="GerenciaZoo" class="NomeTitulo">
            </section>
        
            <section class="navegacao">
                    <a asp-controller="Animal" asp-action="Animais" class="botoes">Animais</a>
        
                    <a asp-controller="Tarefa" asp-action="Tarefas" class="botoes">Tarefas</a>
        
                    <a asp-controller="Colaborador" asp-action="Colaboradores" class="botoes">Colaboradores</a>
        
                    <a asp-controller="AtendimentoVeterinario" asp-action="AtendimentosVeterinarios" class="botoes">Atendimento Veterinário</a>
        
                    <a asp-controller="Setor" asp-action="Setores" class="botoes">Setores</a>
        
                    <a asp-controller="Transferencia" asp-action="Transferencias" class="botoes">Transferências</a>
            </section>
        
            <section class="Bottom">
                <a asp-controller="Home" asp-action="LoginCadastro" class="botoes" id="BotaoLogout">Logout</a>
            </section>
        
        </nav>

        <section class="MainContent">
            
            <div class="TopoContent">
                <h1 class="NomeUsuario">Usuário</h1>
            </div>

            @RenderSection("HeaderBarras", required: false)
            
            <div class="ConteudoMain">
                @RenderBody()
            </div>
        
        </section>
    
    </main>
</body>
</html>