<section class="area-modal-editar">
    <div class="modal-base">
        <button class="modal-close" onclick="FecharModalEditar()">
            <i class="fas fa-times"></i>
        </button>

        <h1>Editar Setor</h1>

        <div class="secaoAcao">
            <label>Nome:</label>
            <input type="text" class="inputTexto" />
        </div>

        <div class="secaoAcao">
            <label>Descrição:</label>
            <input type="text" class="inputTexto" />
        </div>

        <div class="secaoAcao">
            <label for="editar-status">Status:</label>
            <select id="editar-status" name="editar-status">
                <option value="ativo">Ativo</option>
                <option value="inativo">Inativo</option>
            </select>
        </div>

        <button onclick="">Salvar Alterações</button>
    </div>
</section>