@{
    Layout="~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="/css/TelaTransferencia.css">
}

@section HeaderBarras
{
    <div class="Header">
        <h1>legal</h1>
    </div>
}

<section class="exemplo">
    <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla autem beatae doloremque dolorem fuga adipisci repudiandae dolores illo deleniti reiciendis possimus esse, officia numquam impedit, vitae consequatur, quas praesentium necessitatibus!</h1>
</section>