<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devie-width, initial-scale=1.0">
    <title>GerenciaZoo</title>
</head>
<body>
    <h1>Bem vindo ao GerenciaZoo</h1>
</body>
</html>