<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/TelaLoginCadastro.css">
    <link rel="shortcut icon" href="~/img/LogoCapivara.png" type="image/x-icon">
    <title>GerenciaZoo</title>
</head>
<body>
    <main>
        <section class="LogoTitulo">
            <img src="~/img/logoCapivara.png" alt="Logo GerenciaZoo" class="imagem">
    
            <h1 class="TituloSistema">GerenciaZoo</h1>
        </section>
 
        <section class="DadosLogin">
            <h1>Login</h1>
           
            <form method="post" asp-controller="Home" asp-action="AcessarSistema" class="Formulario">
                <input type="email" name="email" placeholder="E-mail" class="CaixaEmail" required />
                <input type="password" name="senha" placeholder="Senha" class="CaixaSenha" required />
               
                <a asp-controller="Home" asp-action="SemSucessoAcessarConta">Não consegue acessar sua conta?</a>
                
                <button type="submit" class="Botao">Entrar</button>
            </form>
        </section>
    </main>
</body>
</html>
