@{
    var mensagemDeErro = TempData["Erro"] as string;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/TelaLoginCadastro.css">
    <link rel="shortcut icon" href="~/img/Logos/LogoCapivara.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>GerenciaZoo</title>
</head>
<body>
    <section class="MensagemErro @(!string.IsNullOrEmpty(mensagemDeErro) ? "show" : "")" role="alert">
    @if (!string.IsNullOrEmpty(mensagemDeErro))
    {
        <p id="mensagemErroTexto"><i class="fas fa-exclamation-circle" style="color: red; margin-right: 8px; font-size: 20px;"></i>@mensagemDeErro</p>
    }
    </section>
    
    <main>
        <section class="LogoTitulo">
            <img src="~/img/Logos/LogoCapivaraNome.png" alt="Logo GerenciaZoo" class="imagem">
        </section>
 
        <section class="DadosLogin">
            <h1>Login</h1>
           
            <form asp-controller="Home" asp-action="AcessarSistema" method="post" class="Formulario">
                <input type="email" name="email" placeholder="E-mail" class="CaixaEmail" required />
                <input type="password" name="senha" placeholder="Senha" class="CaixaSenha" required />
               
                <a asp-controller="Home" asp-action="SemSucessoAcessarConta">Não consegue acessar sua conta?</a>
                
                <div id="DivBotao">
                    <button type="submit" class="Botao">Entrar</button>
                </div>
            </form>
        </section>
    </main>
</body>
</html>

<script>
    setTimeout(() => 
    {
        const erro = document.querySelector('.MensagemErro');

        if (erro) 
        {
            erro.style.opacity = '0';
            setTimeout(() => erro.remove(), 150);
        }
    }, 4000);
</script>