:root
{
    --cor-sidebar: #4CAF50;
    --cor-letra: #212121;
    --cor-linha-preta: #000000;
}

*, *::before, *::after
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    color: var(--cor-letra);
}

.Sidebar
{
    position: fixed;

    height: 100vh;
    width: calc(10vw + 100px);
    
    background-color: var(--cor-sidebar);

    border-right: 2px solid var(--cor-linha-preta);
}

.LogoNome
{
    display: flex;
 
    flex-direction: row;

    align-items: center;
    justify-content: space-evenly;

    border-bottom: 2px solid var(--cor-linha-preta);
    width: 90%;
    margin-left: 5%;

    padding-top: 5%;
    padding-bottom: 5%;


}

.imagem
{
    width: 30%;
    height: 30%;

    border-radius: 999px;
}

.navegacao
{

}

.formulario
{
    display: flex;

    flex-direction: column;
}

.botoes, .logout
{
    background-color: var(--cor-sidebar);

    border: 0px solid;
}

.logout
{
    
}


@media screen and (max-width: 700px)
{
    .Sidebar 
    {
        display: flex;
        position: fixed;

        width: 100vw;
        max-height: calc(10vw + 50px);
       
        overflow-x: auto;
    }
}
