@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root
{
    --cor-preta: #000000;
    --cor-vermelha: #ff0000;
}

*, *::before, *::after
{
    box-sizing: border-box;

    margin: 0px;
    padding: 0px;
}

main
{
    display: flex;

    font-family: 'DM Sans', sans-serif;

    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    gap: 100px;
}

.LogoTitulo > .TituloSistema
{
    display: flex;

    justify-content: center;

    cursor: default;
}

.LogoTitulo > .imagem
{
    max-height: 35vh;
    max-width: 35vw;
    
    border-radius: 50%;
}

.DadosLogin > h1
{
    display: flex;
    
    justify-content: center;

    font-size: 40px;
    font-weight: normal;

    padding-bottom: 4vh;
    
    cursor: default;
}

.DadosLogin > .Formulario
{
    display: flex;

    flex-direction: column;

    row-gap: 3vh;
}

.CaixaEmail, .CaixaSenha, .Botao
{
    max-width: 50vw;

    border: 1px solid var(--cor-preta);
}

.DadosLogin input
{
    padding: 5%;

    outline: none;

    border-radius: 5px;
}

.Botao
{
    font-size: 16px;
    
    border: 2px solid var(--cor-preta);
    border-radius: 999px;

    background: transparent;

    cursor: pointer;

    outline: none;
    
    transition: transform 0.3s ease;
}

.Botao:hover
{
    transform: scale(1.2);
}

.DadosLogin a
{
    color: var(--cor-preta);
    
    transition: color 0.3s;
}

.DadosLogin a:link
{
    text-decoration: none;

    color: var(--cor-preta);
}

.DadosLogin a:hover
{
    color: var(--cor-vermelha);
}

@media (max-width: 768px)
{
    main
    {
        display: flex;
        flex-direction: column;

        justify-content: start;

        gap: 1vh;
    }
}