.colaboradores-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: left;
}

.colaborador-card {
    display: flex;
    align-items: center;
    border: 1px solid #161616;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}

.colaborador-foto img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.colaborador-info {
    flex: 1;
    margin-left: 15px;
}

.colaborador-status {
    margin-left: 20px;
}

.colaborador-Id {
    align-items: left;
}