@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root
{
    --cor-preta: #000000;
    --cor-vermelha: #ff0000;
    --cor-fundo: #F9F7F1;
    --cor-branco: #FFFFFF;
    
    --cor-fundo-erro: #FFE1DD;
    --cor-texto-aviso: #333333;
    --cor-borda-erro: #F5A9A9;
}

*, *::before, *::after
{
    box-sizing: border-box;

    margin: 0px;
    padding: 0px;
}

main
{
    display: flex;

    font-family: 'DM Sans', sans-serif;

    background-color: var(--cor-fundo);

    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    gap: 100px;
}

.LogoTitulo > .imagem
{
    max-height: 35vh;
    max-width: 35vw;
}

.DadosLogin > h1
{
    display: flex;
    
    justify-content: center;

    font-size: 40px;
    font-weight: normal;

    padding-bottom: 4vh;
    
    cursor: default;
}

.DadosLogin > .Formulario
{
    display: flex;

    flex-direction: column;

    row-gap: 3vh;
}

.CaixaEmail, .CaixaSenha, .Botao
{
    max-width: 50vw;

    border: 1px solid var(--cor-preta);
}

.DadosLogin input
{
    padding: 5%;

    outline: none;

    border-radius: 5px;
}

.Botao
{
    font-size: 16px;
    
    border: 2px solid var(--cor-preta);
    border-radius: 999px;
    
    background-color: var(--cor-branco);

    cursor: pointer;

    outline: none;
    
    transition: transform 0.3s ease;
}

.Botao:hover
{
    transform: scale(1.2);
}

.DadosLogin a
{
    color: var(--cor-preta);
    
    transition: color 0.3s;
}

.DadosLogin a:link
{
    text-decoration: none;

    color: var(--cor-preta);
}

.DadosLogin a:hover
{
    color: var(--cor-vermelha);
}

.MensagemErro 
{
    display: flex;

    align-items: center;
    justify-content: center;

    position: fixed;
    
    top: 15vh;
    left: 50%;

    width: 18vw;
    height: 5vh;

    transform: translateX(-50%);
   
    font-size: 18px;

    font-weight: bold;
    
    color: var(--cor-texto-aviso);
    
    background-color: var(--cor-fundo-erro);
   
    border: 2px solid var(--cor-borda-erro);

    border-radius: 10px;
    
    opacity: 1;
    z-index: 999;
    
    display: none;
}

.MensagemErro.show 
{
    display: flex;
}

@media (max-width: 768px)
{
    main
    {
        display: flex;
        flex-direction: column;

        justify-content: start;

        gap: 1vh;
    }
}