.ficha-topo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: solid 1px black;
    padding: 32px 40px;
}
.ficha-topo > div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.ficha-desc{
    padding: 32px 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.ficha-desc > div{
    display: inherit;
    flex-direction: inherit;
    gap: 8px;
}

.desativado {
    color: rgb(197, 197, 197) !important;
    border-color: rgb(197, 197, 197) !important;
    background-color: #f0f0f0 !important; /* Adicione para melhor visualização */
    cursor: not-allowed !important;
}