.container-setores 
{
    position: relative;
    padding-top: 2rem;
    background-color: var(--cor-fundo);
    display: flex;
    gap: 32px;
}

.card-setores
{
    background: var(--cor-branca);
  
    border-radius: 10px;
  
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  
    overflow: hidden;
    transition: transform 0.2s;

    cursor: pointer;
}

.card-setores
{
    height: 15vh;
    width: 32vw;

    display: flex;
    
    align-items: center;
    justify-content: space-between;
    
    padding: 1vw;
}

.textos
{
    display: flex;
    
    flex-direction: column;
    
    row-gap: 2vh;
}

.esquerda
{
    display: flex;
    flex-direction: column;
    
    gap: 3vh;
}

.card-end
{
    display: flex;
    flex-direction: row;
}

.container-setores input
{
    margin-left: 2vw;
    width: 1.5vw;
    
    cursor: pointer;
}

.container-setores img
{
    height: 70vh;
    width: 40vw;

    border-radius: 24px;
}

.legenda
{
    padding-top: 2vh;
    width: 40vw;
}

#area-modal-setores{
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    z-index: 2;
}
#modal-setores{
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    background-color: var(--cor-branca);
    padding: 32px;
    border-radius: 16px;
    z-index: 3;
    height: fit-content;
}
#modal-close{
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 16px;
    background-color: transparent;
    border: unset
}
#modal-setores> div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#modal-setores>div>input[type="text"], #modal-setores>div>select{
    width: 500px;
    height: 40px;
    margin: 0;
    padding: 0px 16px;
    border-radius: 40px;
}

#modal-setores>div>select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23333' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5z' stroke='%23333' stroke-width='1.5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 8px center;
  padding-right: 25px;
}

#modal-setores>button:last-child{
    width: fit-content;
    align-self: center;
    padding: 8px 24px;
    border-radius: 40px;
    background-color: transparent;
    border: solid 1px black;
}
#modal-setores>button:last-child:hover{
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.5s;
}

.overlay{
    position: absolute;
    width: 100vw;
    height: 100dvh;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}