@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root
{
    --cor-preto: #000000;
    --cor-fundo: #F4F4F4;
    --cor-branca: #FFFFFF;

    --cor-verde: #BBDFB6;
    --cor-linhas: #317034;

    --cor-letra: #212121;
    --cor-azul: #1976D2;
    --vermelho: #D32F2F;
}

*, *::before, *::after
{
    box-sizing: border-box;
    
    margin: 0px;
    padding: 0px;

    color: var(--cor-letra);
}

body, html
{
    height: 100vh;

    overflow: hidden;
}

main
{
    display: flex;

    flex-direction: row;

    font-family: 'DM Sans', sans-serif;

    height: 100vh;
}

.MainContent
{
    display: flex;

    flex-direction: column;
    
    height: 100vh;

    overflow: hidden;

    flex: 1;

    background-color: var(--cor-fundo);
}

.ConteudoMain
{
    flex: 1;

    overflow-y: auto;  

    padding-left: calc(9vw + 150px + 2vw);
    padding-right: clamp(32px, 6vw, 80px);
}

.Sidebar
{
    position: fixed;

    top: 0;
    left: 0;

    display: flex;
    
    flex-direction: column;
    
    height: 100vh;
    width: calc(9vw + 150px);

    background-color: var(--cor-verde);
}

.Topo
{
    display: flex;

    flex-direction: row;

    align-items: center;

    width: 90%;

    margin-left: 5%;
    margin-bottom: 8%;

    padding-top: 5%;
    padding-bottom: 5%;

    border-bottom: 1px solid var(--cor-linhas);
}

.imagem
{
    height: 100%;
    max-width: 30%;
}

.NomeTitulo
{
    height: 90%;
    max-width: 70%;
}

.navegacao
{
    display: flex;

    flex-direction: column;

    gap: 15px;

    flex-grow: 1;
}

.botoes 
{
    width: 100%;

    font-size: clamp(15px, 2vw + 1rem, 20px);

    padding-left: 5%;
    
    text-decoration: none;

    transition: transform 0.3s ease;
    transform-origin: left center;
}

.botoes:hover
{
    transform: scale(1.02);
}

.Bottom
{
    padding-bottom: 3vh;
}

#BotaoLogout:hover
{   
    color: var(--vermelho);
}

.TopoContent
{
    display: flex;

    align-items: center;
    justify-content: end;

    padding-right: 4vw;

    background-color: var(--cor-branca);

    height: 10vh;
    min-height: 60px;

    flex-shrink: 0;
    
    border-bottom: 1px solid var(--cor-preto);
}

.ImagemFuncionario
{
    width: clamp(40px, 3.4vw, 80px);

    aspect-ratio: 1 / 1;
    
    border-radius: 50%;
    border: 2px solid var(--cor-linhas);

    object-fit: cover;
    
    margin-right: 0.8vw;

    min-width: 30px;
    min-height: 30px;
    
    max-width: 80px;
    max-height: 80px;
}

.NomeUsuario
{
    cursor: default;

    font-size: clamp(18px, 1.5vw, 24px);
    
    font-weight: 500;    
}

.Header
{
    height: 10vh;
    width: 100vw;

    background-color: var(--cor-branca);

    border-bottom: 1px solid var(--cor-preto);
}

.ConteudoHeader
{
    display: flex;
    
    flex-direction: row;

    height: 100%;

    align-items: center;
    justify-content: space-between;
    
    margin-left: calc(14vw + 100px);
    margin-right: 2vw;
}

.NomePagina
{
    cursor: default;
}

.Barrabusca
{
    display: flex;
    align-items: center;
    
    position: absolute;
    left: clamp(1.1rem, 50vw - 180px, 71vw);

    width: clamp(240px, 20vw + 70px, 560px);
    height: 5vh;

    margin-right: 10px;

    background-color: var(--cor-fundo);

    border-radius: 999px;
}

.TextoPesquisa
{
    height: 4vh;
    width: calc(19vw + 60px);

    padding-left: 2vh;

    background-color: transparent;
    
    border: none;
    outline: none;
}

.BotaoIconePesquisa
{
    height: 4vh;
    width: 3vw;
    
    border: none;
    background-color: transparent;

    cursor: pointer;
}

.BotoesAcoes
{
    display: flex;
    
    gap: 1vw;
}

.BotaoExcluir, .BotaoEditar, .BotaoNovo
{
    height: 5vh;
    width: 7vw;

    border-radius: 999px;

    border: 2px solid var(--cor-linhas);
    background-color: var(--cor-branca);
    
    cursor: pointer;

    transition: transform 0.2s ease;
}

.BotaoExcluir:hover, .BotaoEditar:hover, .BotaoNovo:hover
{
    transform: scale(1.08);
}

/* Código Padrão Modal */

.area-modal-novo, .area-modal-editar
{
    display: none;

    justify-content: center;
    align-items: center;

    position: fixed;

    top: 0;
    left: calc(9vw + 150px);
    right: 0;
    bottom: 0;

    z-index: 2;
}

.modal-base 
{
    display: flex;
    flex-direction: column;

    position: relative;
    background-color: var(--cor-branca);

    gap: 16px;
    padding: 32px;

    border-radius: 16px;
    z-index: 3;
}

.modal-close 
{
    position: absolute;

    right: 16px;
    top: 16px;
    
    background-color: transparent;
    
    border: unset;
    
    cursor: pointer;
}

.modal-base .secaoAcao
{
    display: flex;

    flex-direction: column;

    gap: 8px;
}

.inputTexto, #editar-status, #novo-status
{
    width: 500px;
    height: 40px;

    padding: 0 16px;

    border-radius: 40px;
    border-width: 1px;
    border-color: var(--cor-preto);
    border-style: solid;
}

#editar-status, #novo-status
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23333' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5z' stroke='%23333' stroke-width='1.5'/%3E%3C/svg%3E");

    padding-right: 25px;

    appearance: none;

    background-repeat: no-repeat;
    background-position: right 8px center;
}

/*.modal-base > button:last-child 
{
    align-self: center;

    padding: 8px 24px;

    border-radius: 40px;

    background-color: transparent;

    border: solid 1px var(--cor-preto);
    cursor: pointer;
}

.modal-base > button:last-child:hover 
{
    transition: opacity 0.5s;
    
    opacity: 0.5;
}*/
.modal-base > .btn-concluir{
    align-self: center;
}

.overlay 
{
    position: fixed;
    
    width: 100vw;
    height: 100dvh;
    
    background-color: var(--cor-preto);
    
    opacity: 0.5;
    
    inset: 0;
    z-index: 1;
}

@media (max-width: 768px)
{
    .ConteudoHeader
    {
        margin-left: calc(18vw + 100px);

        justify-content: none;
    }

    .ImagemFuncionario
    {
        width: 6vw;
    }

    .NomePagina
    {
        font-size: 20px;
    }
    
    .Barrabusca
    {
        width: calc(14vw + 50px);
        left: calc(38vw + 110px);
    }

    .TextoPesquisa
    {
        width: 12vw;

        background-color: transparent;
        
        border: none;
        outline: none;
    }

    .BotaoIconePesquisa
    {
        width: 3vw;
    }

    .BotaoExcluir, .BotaoEditar, .BotaoNovo
    {
        width: 7vw;

        font-size: 12px;
    }

    .BotaoExcluir:hover, .BotaoEditar:hover, .BotaoNovo:hover
    {
        transform: none;
    }
}