@section Styles{
    <link rel="stylesheet" href="/css/TelaTarefa.css">
}

@{
    Layout="~/Views/Shared/_Layout.cshtml";
}

@section HeaderBarras
{
    <div class="Header">
        <div class="ConteudoHeader">

            <h1 class="NomePagina">Tarefas</h1>
            
            <div class="Barrabusca">
                <input type="text" placeholder="Pesquisar..." class="TextoPesquisa">
                <button class="BotaoIconePesquisa" aria-label="Pesquisar">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </button>    
            </div>
            
            <div class="BotoesAcoes">
                <button class="BotaoExcluir">Excluir</button>
                <button class="BotaoEditar">Editar</button>
                <button class="BotaoNovo">Novo</button>
            </div>
        
        </div>
    </div>
}