@section Scripts
{
    <script src="~/js/Animal/ModaisAnimais.js"></script>
}

<link rel="stylesheet" href="~/css/TelaAnimal.css" />

@{
    Layout = null;
}

<div class="modal" id="modalNovaEspecie" style="display:none;">
    <div class="modal-conteudo">
        <span class="fechar" onclick="FecharModalNovaEspecie()">×</span>
        <h2>Nova Espécie</h2>

        <form id="formNovaEspecie" method="post" asp-action="AdicionarEspecie" asp-controller="Animal">
            @Html.AntiForgeryToken()

            <div class="form-linha">
                    <div class="form-grupo"></div>
                    <label for="Descricao">Descrição:</label>
                    <input type="text" name="Descricao" id="Descricao" placeholder="Descrição da espécie" required />
            </div>

            <div class="botao-container">
                <button type="submit" class="submit-button">Salvar</button>
            </div>

            <div id="erroEspecie" style="color:red; margin-top: 10px;"></div>
        </form>
    </div>
</div>
