<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/Animal.css">
    <title>Gerencia Zoo</title>
</head>
<body>
    <nav class="Sidebar">
        <section class="LogoNome">
            <img src="~/img/logo.png" alt="Logo GerenciaZoo" class="imagem">
            <h1 class="Nome">GerenciaZoo</h1>
        </section>
        <section class="navegacao">
            <form action="" class="formulario">
                <button class="botoes">Animais</button>
                <button class="botoes">Tarefas</button>
                <button class="botoes">Colaboradores</button>
                <button class="botoes">Atendimento Veterinário</button>
                <button class="botoes">Setores</button>
                <button class="botoes">Transferências</button>
                <button class="logout">Logout</button>
            </form>
        </section>
    </nav>
    <main class="main"></main>
</body>
</html>